@model ListarTablerosViewModel
  
<a class="btn-agregar text-dark" asp-controller="Tablero" asp-action="CrearTablero">AgregarTablero<svg
    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
    class="w-2 h-2" width="25" height="25">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
  </svg></a>


<div class="row mt-4">
  <h2>Mis tableros</h2>
  @foreach (var tablero in Model.TablerosPropiosViewModel)
    {
        <div class="col-md-4 mb-4">
            <div class="card text-dark">
                <div class="card-header">
                    <h5 class="card-title text-center">@tablero.Nombre</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@tablero.Descripcion</p>
                </div>
                <div class="card-footer">
          <a class=" btn doing text-dark text-decoration-none" asp-controller="Tablero" asp-action="EditarTablero"
            asp-route-idTablero="@tablero.IdTablero">Editar</a>
          <a class="btn review text-dark text-decoration-none" asp-controller="Tablero" asp-action="EliminarTablero"
            asp-route-idTablero="@tablero.IdTablero"
            onclick="return confirmarEliminacion('tablero', '@tablero.Nombre', '@Url.Action("EliminarTablero", "Tablero", new { idTablero = tablero.IdTablero })'); return false;">
            Eliminar
          </a>
          
                        <a class=" btn todo text-dark text-decoration-none"
                           asp-controller="Tarea"
                           asp-action="GetTareasByIdTablero"
                           asp-route-idTablero="@tablero.IdTablero">Ver Tareas</a>
                </div>
            </div>
        </div>
    }
  <h2>Otros</h2>
  @foreach (var tablero in Model.TablerosAjenosViewModel)
  {
    <div class="col-md-4 mb-4">
      <div class="card text-dark">
        <div class="card-header">
          <h5 class="card-title text-center">@tablero.Nombre</h5>
        </div>
        <div class="card-body">
          <p class="card-text">@tablero.Descripcion</p>
        </div>
        <div class="card-footer">
 
          <a class=" btn todo text-dark text-decoration-none" asp-controller="Tarea" asp-action="GetTareasByIdTablero"
            asp-route-idTablero="@tablero.IdTablero">Ver Tareas</a>
        </div>
      </div>
    </div>
  }
</div>

  @* <table class="table table-dark">
    <thead>
      <tr>
        <th hidden>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var tablero in Model)
      {
        <tr>
          <td hidden>@tablero.IdTablero</td>
          <td>@tablero.Nombre</td>
          <td>@tablero.Descripcion</td>
          @* <td>@tablero.IdUsuario</td> *@
          @* <td></td>


         <td>
          

            <button type="button" class="btn btn-secondary ">
              <a class="text-white text-decoration-none" asp-controller="Tablero" asp-action="EditarTablero"
                asp-route-idTablero="@tablero.IdTablero"
              >Editar</a>
            </button>
            <a class="btn btn-danger text-white text-decoration-none" asp-controller="Tablero"
              asp-action="EliminarTablero" asp-route-idTablero="@tablero.IdTablero"
              onclick="return confirmarEliminacion('tablero', '@tablero.Nombre', '@Url.Action("EliminarTablero", "Tablero", new { idTablero = tablero.IdTablero })'); return false;">
              Eliminar
            </a>



            


            <button type="button" class="btn btn-success">
              <a class="text-white text-decoration-none"  asp-controller="Tarea" asp-action="GetTareasByIdTablero"
                asp-route-idTablero="@tablero.IdTablero">Ver Tareas</a>
          </button>
          </td>

        </tr>
      }
    </tbody>
  </table>  *@



  @section Scripts {
    <partial name="_NotificationPartial" />
  }