@model CrearTareaViewModel
 

<section class="form-gral d-flex justify-content-center align-items-center flex-column">
  <h4 class="mb-4">Agregar Tarea</h4>
<form asp-controller="Tarea" asp-action="CrearTarea" >
  <input hidden asp-for="@Model.IdTablero">

  <div class="form-group">
    <label asp-for="@Model.Nombre"></label>
    <input asp-for="@Model.Nombre" class="form-control" />
    <span asp-validation-for="@Model.Nombre" class="text-danger"></span>

  </div>
  <div class="form-group">
    <label asp-for="@Model.Descripcion"></label>
    <input asp-for="@Model.Descripcion" class="form-control" />
    <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>

  </div>
  <div class="form-group">
    <label asp-for="@Model.IdUsuarioAsignado"> Usuario asignado</label>
    <select asp-for="@Model.IdUsuarioAsignado" class="form-control">
      <option value="0">sin definir</option>
      @foreach (var usuario in @Model.usuarios)
      {
        <option value="@usuario.Id">@usuario.NombreUsuario</option>
      }
    </select>
  </div>
  <div class="form-group">
    <label asp-for="@Model.Estado"></label>
    <select asp-for="@Model.Estado" class="form-control">
      @foreach (var estado in Enum.GetValues(typeof(EstadoTarea)))
      {
        <option value="@estado">@estado</option>
      }
    </select>
    @* <select asp-for="@Model.Estado" class="form-control">
      <option value="Ideas">Ideas</option>
      <option value="ToDo">ToDo</option>
      <option value="Doing">Doing</option>
      <option value="Review">Review</option>
      <option value="Done">Done</option>
    </select> *@
  </div>


    <input type="submit" class="button-outlined mt-3 ms-5"></button>
  </form>
</section>
<svg class="bussines-amico" width="350" height="500" viewBox="0 0 500 500" fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <path
    d="M253.44 478.24C381.653 478.24 485.59 417.575 485.59 342.74C485.59 267.905 381.653 207.24 253.44 207.24C125.227 207.24 21.29 267.905 21.29 342.74C21.29 417.575 125.227 478.24 253.44 478.24Z"
    fill="#F0F0F0" />
  <path
    d="M332.99 278.96C354.452 278.96 371.85 268.913 371.85 256.52C371.85 244.127 354.452 234.08 332.99 234.08C311.528 234.08 294.13 244.127 294.13 256.52C294.13 268.913 311.528 278.96 332.99 278.96Z"
    fill="#E0E0E0" />
  <path
    d="M417.72 416.26C437.254 416.26 453.09 407.118 453.09 395.84C453.09 384.562 437.254 375.42 417.72 375.42C398.186 375.42 382.35 384.562 382.35 395.84C382.35 407.118 398.186 416.26 417.72 416.26Z"
    fill="#E0E0E0" />
  <path
    d="M459.93 383.09C466.066 383.09 471.04 380.22 471.04 376.68C471.04 373.14 466.066 370.27 459.93 370.27C453.794 370.27 448.82 373.14 448.82 376.68C448.82 380.22 453.794 383.09 459.93 383.09Z"
    fill="#E0E0E0" />
  <path
    d="M472.77 342.05L460.89 376.9C460.814 377.121 460.672 377.313 460.482 377.449C460.292 377.585 460.064 377.658 459.83 377.658C459.596 377.658 459.368 377.585 459.178 377.449C458.988 377.313 458.845 377.121 458.77 376.9L446.93 341.81L472.77 342.05Z"
    fill="#FFA8A7" />
  <path
    d="M458.77 376.9C458.845 377.121 458.988 377.313 459.178 377.449C459.368 377.585 459.596 377.658 459.83 377.658C460.064 377.658 460.292 377.585 460.482 377.449C460.672 377.313 460.815 377.121 460.89 376.9L463.21 370.1C462.207 370.641 461.074 370.895 459.936 370.833C458.798 370.771 457.699 370.397 456.76 369.75L456.24 369.39L458.77 376.9Z"
    fill="#5545AD" />
  <path
    d="M447.11 186.46V189.87V193.98L446.94 341.8C449.799 344.817 453.692 346.642 457.84 346.91C464.09 347.55 470.49 345.49 472.78 342.04L472.94 195.31V187.45C472.64 192.54 446.9 191.57 447.11 186.46Z"
    fill="#5545AD" />
  <path
    d="M472.93 214.14C472.87 216.01 471.61 217.87 469.16 219.29C464.16 222.21 455.94 222.29 450.88 219.29C448.61 217.98 447.32 216.29 447.1 214.59V209.2C447.172 210.012 447.447 210.792 447.9 211.47C448.673 212.583 449.702 213.495 450.9 214.13C455.95 217.03 464.14 217.01 469.18 214.13C470.372 213.478 471.398 212.561 472.18 211.45C472.722 210.666 473.009 209.733 473 208.78L472.93 214.14Z"
    fill="#F0F0F0" />
  <path
    d="M472.92 209.1C472.86 210.98 471.61 212.83 469.15 214.26C464.15 217.18 455.94 217.2 450.88 214.26C448.6 212.95 447.31 211.26 447.09 209.55V204.13C447.154 204.939 447.426 205.718 447.88 206.39C448.649 207.507 449.679 208.42 450.88 209.05C455.93 211.95 464.11 211.93 469.15 209C470.346 208.354 471.374 207.436 472.15 206.32C472.692 205.535 472.982 204.604 472.98 203.65L472.92 209.1Z"
    fill="#5545AD" />
  <path
    d="M472.92 204.07C472.85 205.94 471.6 207.8 469.15 209.22C464.15 212.14 455.93 212.17 450.87 209.27C448.59 207.96 447.31 206.27 447.08 204.56V199.13C447.152 199.942 447.427 200.722 447.88 201.4C448.65 202.516 449.68 203.429 450.88 204.06C455.93 206.96 464.12 206.94 469.15 204.01C470.345 203.363 471.372 202.445 472.15 201.33C472.688 200.544 472.974 199.613 472.97 198.66L472.92 204.07Z"
    fill="#F0F0F0" />
  <path opacity="0.1"
    d="M472.92 195.31V187.45C472.79 189.75 467.46 190.81 461.68 190.81L462.68 346.87L460.9 376.87L472.78 342.02L472.92 195.31Z"
    fill="black" />
  <path
    d="M472 153.22C471.25 152.225 470.295 151.403 469.2 150.81C464.15 147.91 455.99 147.94 450.97 150.81C448.51 152.24 447.27 154.09 447.22 155.96C447.215 155.993 447.215 156.027 447.22 156.06L447.15 186.42C447.15 186.42 447.15 186.52 447.15 186.57V186.85C447.37 188.57 448.66 190.25 450.94 191.56C456 194.46 464.17 194.44 469.21 191.56C471.67 190.14 472.92 188.28 472.98 186.41V181C472.98 181.11 472.98 181.22 472.98 181.32L473.03 156.73C473.163 155.47 472.793 154.208 472 153.22Z"
    fill="#FFA8A7" />
  <path opacity="0.3"
    d="M460.086 163.565C467.205 163.546 472.968 160.2 472.957 156.091C472.946 151.982 467.166 148.666 460.047 148.685C452.928 148.704 447.166 152.05 447.177 156.159C447.188 160.268 452.967 163.584 460.086 163.565Z"
    fill="white" />
  <path
    d="M473 156.08C473 157.98 471.75 159.88 469.25 161.33C466.833 162.642 464.148 163.384 461.4 163.5L461.72 193.69C464.35 193.545 466.915 192.818 469.23 191.56C471.59 190.19 472.83 188.42 472.98 186.63L473 155.8C473.005 155.893 473.005 155.987 473 156.08Z"
    fill="#F28F8F" />
  <path
    d="M462.33 264.23L472.91 249.68L472.98 239.83C473.852 240.136 474.628 240.667 475.229 241.369C475.829 242.072 476.233 242.921 476.4 243.83C477.342 246.971 477.681 250.262 477.4 253.53C476.98 256.38 469.13 274.7 465.51 277.14C461.89 279.58 462.33 264.23 462.33 264.23Z"
    fill="#FFA8A7" />
  <path
    d="M449.22 268.56L435.55 257.25L432.25 239.86C433.677 239.553 435.131 239.389 436.59 239.37C438.12 239.47 441.59 240.37 445.11 243.84C448.63 247.31 462.26 263.84 462.26 263.84L471.47 251.63C474.8 250.28 477.19 254.15 476.41 256.51C475.627 259.119 474.675 261.674 473.56 264.16C471.29 269.54 467.56 276.08 465.89 277.42C464.22 278.76 461.89 278.35 458.47 276.05C455.05 273.75 449.22 268.56 449.22 268.56Z"
    fill="#37474F" />
  <path d="M418.53 235.18L419.44 247.16L431.52 246.51L430.55 232.61L418.53 235.18Z" fill="#FFA8A7" />
  <path
    d="M410.58 220.54C410.58 220.54 407.76 224.82 408.08 225.24C408.4 225.66 410.48 226.04 410.48 226.04L410.58 220.54Z"
    fill="#F28F8F" />
  <path
    d="M418.41 208.71C412.7 209.91 411.06 212.42 410.52 221.48C409.96 230.95 410.92 233.92 412.17 235.2C413.01 236.06 417.67 236.2 420.03 235.57C422.97 234.75 429.63 232.39 432.75 227.63C436.42 222.03 437.38 214.43 433.45 211.32C427.93 206.93 420.73 208.22 418.41 208.71Z"
    fill="#FFA8A7" />
  <path
    d="M418.58 235.84C419.616 235.651 420.638 235.394 421.64 235.07C420.818 235.895 419.777 236.468 418.64 236.72L418.58 235.84Z"
    fill="#F28F8F" />
  <path
    d="M410.16 211.58C410.94 212.019 411.773 212.356 412.64 212.58C414.03 212.99 413.82 213.51 414.01 214.78C414.183 215.927 414.736 216.984 415.58 217.78C416.12 218.27 416.53 218.32 416.71 219.07C416.795 219.858 416.795 220.652 416.71 221.44C416.71 223.02 417.71 224.21 418.22 222.1C418.22 222.1 419.12 218.6 422.07 219.04C425.02 219.48 425.28 222.81 423.88 225.42C423.02 227 420.73 226.59 420.73 226.59C420.648 228.055 420.88 229.521 421.411 230.888C421.942 232.256 422.76 233.495 423.81 234.52C423.81 234.52 426.75 236.7 431.32 234.44C433.276 231.916 435.028 229.241 436.56 226.44C438.61 222.88 440.37 218.51 439.67 214.33C439.44 212.773 438.742 211.322 437.67 210.17C437.365 209.912 437.118 209.593 436.945 209.232C436.773 208.872 436.679 208.479 436.67 208.08C436.571 207.475 436.334 206.901 435.977 206.402C435.621 205.903 435.154 205.493 434.614 205.203C434.074 204.913 433.474 204.751 432.861 204.729C432.249 204.708 431.639 204.828 431.08 205.08C431.026 204.35 430.741 203.656 430.266 203.099C429.792 202.542 429.152 202.15 428.44 201.98C426.998 201.674 425.494 201.883 424.19 202.57C423.807 201.883 423.258 201.304 422.593 200.885C421.928 200.465 421.169 200.22 420.384 200.171C419.599 200.123 418.815 200.272 418.103 200.605C417.391 200.939 416.775 201.446 416.31 202.08C416.092 201.744 415.797 201.464 415.449 201.266C415.101 201.068 414.71 200.956 414.31 200.94C413.52 200.904 412.73 201.03 411.99 201.31C411.36 201.495 410.753 201.75 410.18 202.07C409.15 202.71 408.348 203.659 407.886 204.78C407.425 205.902 407.328 207.14 407.61 208.32C407.778 209.014 408.092 209.664 408.532 210.226C408.972 210.789 409.527 211.25 410.16 211.58Z"
    fill="#263238" />
  <path
    d="M436.86 210.64L440.28 208.64C439.981 208.261 439.555 208.003 439.081 207.913C438.607 207.823 438.116 207.908 437.699 208.151C437.283 208.395 436.968 208.781 436.814 209.239C436.66 209.696 436.676 210.194 436.86 210.64Z"
    fill="#263238" />
  <path
    d="M440.05 387.79C440.05 388.04 440.1 388.3 440.12 388.56C440.254 389.554 440.28 390.56 440.2 391.56C440.204 392.348 439.924 393.112 439.41 393.71C438.656 394.16 437.82 394.456 436.95 394.58C435.272 394.73 433.582 394.465 432.03 393.81C430.45 393.16 429.48 392.28 428.03 391.88C426.533 391.505 425.008 391.255 423.47 391.13C422.793 391.072 422.123 390.948 421.47 390.76C420.969 390.581 420.484 390.36 420.02 390.1C418.397 389.349 416.931 388.297 415.7 387C414.929 386.127 414.399 385.069 414.16 383.93C414.03 383.26 413.76 381.32 414.88 381.37C420.36 381.62 425.8 382.79 431.29 382.73C431.642 382.695 431.997 382.695 432.35 382.73C433.024 382.873 433.656 383.167 434.2 383.59C434.428 383.787 434.698 383.927 434.99 384C435.282 384.073 435.587 384.076 435.88 384.01C436.823 383.845 437.787 383.845 438.73 384.01C438.937 384.033 439.135 384.105 439.309 384.22C439.483 384.335 439.627 384.489 439.73 384.67C439.777 384.805 439.804 384.947 439.81 385.09C439.88 386 440 386.91 440.05 387.79Z"
    fill="#263238" />
  <path
    d="M420.27 403.62C420.468 404.374 420.601 405.143 420.67 405.92C420.773 406.55 420.722 407.195 420.52 407.8C420.091 408.296 419.518 408.646 418.88 408.8C417.559 409.187 416.166 409.266 414.81 409.03C413.34 408.8 412.04 408.14 410.53 408.18C408.989 408.265 407.457 408.476 405.95 408.81C404.751 408.96 403.539 408.96 402.34 408.81C400.562 408.626 398.851 408.033 397.34 407.08C396.346 406.473 395.526 405.618 394.96 404.6C394.665 404.19 394.502 403.7 394.491 403.194C394.48 402.689 394.623 402.193 394.9 401.77C395.349 401.289 395.956 400.984 396.61 400.91C397.275 400.848 397.945 400.848 398.61 400.91C400.772 401.027 402.941 400.913 405.08 400.57C407.114 400.153 409.119 399.602 411.08 398.92C411.548 398.751 412.025 398.611 412.51 398.5C413.2 398.41 413.4 398.23 414.05 398.45C414.327 398.568 414.628 398.619 414.928 398.6C415.228 398.581 415.52 398.492 415.78 398.34C416.351 398.085 416.983 397.997 417.602 398.085C418.221 398.174 418.803 398.435 419.28 398.84C419.639 399.399 419.814 400.057 419.78 400.72C419.86 401.699 420.024 402.669 420.27 403.62Z"
    fill="#263238" />
  <path d="M439.49 381.21L439.2 385.35C438.94 386.93 433.57 387.89 432.46 385.1L431.94 380.41L439.49 381.21Z"
    fill="#FFA8A7" />
  <path
    d="M419.13 393.73C419.13 393.73 418.7 398.35 418.69 399.39C418.41 399.99 417.82 400.98 415.4 400.97C414.705 401.034 414.004 400.947 413.347 400.714C412.689 400.481 412.089 400.107 411.59 399.62L411.01 393.49L419.13 393.73Z"
    fill="#FFA8A7" />
  <path
    d="M441.65 349.45C440.71 341.4 440 336.79 440 336.79C440 336.79 440.16 325.57 440.82 315.12C441.53 303.83 441.37 289.61 441.65 286.79C441.65 286.79 405.37 279.04 405.07 292.12C404.73 307.33 405.74 338.78 405.96 342.87C406.26 348.62 406.27 354.6 407.25 363.93C408.23 373.26 411.01 394.93 411.01 394.93C412.259 395.598 413.654 395.947 415.07 395.947C416.486 395.947 417.881 395.598 419.13 394.93C419.13 394.93 422.28 368.86 422.13 362.23C422.05 357.424 421.588 352.633 420.75 347.9L423.61 318.39C423.61 318.39 424.73 327.51 425.04 333.26C425.35 339.01 426.13 342.52 427.55 353.26C428.78 362.54 431.91 382.13 431.91 382.13C433.097 382.801 434.447 383.128 435.809 383.073C437.171 383.019 438.491 382.585 439.62 381.82C439.62 381.82 442.59 357.5 441.65 349.45Z"
    fill="#5545AD" />
  <path opacity="0.3"
    d="M441.65 349.45C440.71 341.4 440 336.79 440 336.79C440 336.79 440.16 325.57 440.82 315.12C441.53 303.83 441.37 289.61 441.65 286.79C441.65 286.79 405.37 279.04 405.07 292.12C404.73 307.33 405.74 338.78 405.96 342.87C406.26 348.62 406.27 354.6 407.25 363.93C408.23 373.26 411.01 394.93 411.01 394.93C412.259 395.598 413.654 395.947 415.07 395.947C416.486 395.947 417.881 395.598 419.13 394.93C419.13 394.93 422.28 368.86 422.13 362.23C422.05 357.424 421.588 352.633 420.75 347.9L423.61 318.39C423.61 318.39 424.73 327.51 425.04 333.26C425.35 339.01 426.13 342.52 427.55 353.26C428.78 362.54 431.91 382.13 431.91 382.13C433.097 382.801 434.447 383.128 435.809 383.073C437.171 383.019 438.491 382.585 439.62 381.82C439.62 381.82 442.59 357.5 441.65 349.45Z"
    fill="black" />
  <path opacity="0.15"
    d="M437.44 304.65C437.44 304.65 434.93 308.8 427.3 311.84L425.18 319L425 331.48C424.71 327.48 424.26 323.04 423.69 318.38L424.55 311.04C424.55 311.04 432.92 308.48 437.44 304.65Z"
    fill="black" />
  <path
    d="M443.05 247.57C441.59 242.39 438.17 240.1 434.37 239.86C433.37 239.79 431.06 239.86 431.06 239.86C431.33 242.06 424.31 243.18 419.06 241.94C417.47 242.36 412.89 242.68 411.57 243.12C407.79 244.38 405.83 249.8 405.24 262.12C405.24 262.12 404.64 288.64 404.82 296.35C414.17 300.29 423.19 300.78 428.63 299.72C439.97 297.51 441.83 292.65 441.83 292.65C441.83 292.65 441.72 285.91 441.3 275.16C443.22 259.93 443.68 249.82 443.05 247.57Z"
    fill="#455A64" />
  <path
    d="M390.24 278.8C388.01 280.06 383.83 282.11 379.02 284.2C373.71 286.51 368.38 289.11 367.57 289.64C366.01 290.64 364.2 292.53 362.71 293.31C360.92 294.25 359.39 295.45 357.31 295.69C357.018 295.751 356.715 295.749 356.424 295.683C356.132 295.618 355.858 295.49 355.62 295.31C355.4 295.1 355.27 294.82 355.05 294.61C354.83 294.4 354.21 294.15 353.92 293.77C353.63 293.39 353.71 292.44 353.29 291.95C353.081 291.757 352.853 291.586 352.61 291.44C352.2 291.11 352.11 290.26 352.03 289.76C352.03 289.49 352.03 288.92 351.68 288.88C350.442 288.772 349.198 288.772 347.96 288.88C345.63 288.99 343.96 288.65 343.96 287.52C343.91 285.94 346.34 285.79 349.23 285.4C350.84 285.18 352.46 285.01 354.07 284.76C354.69 284.67 357.44 284.5 357.26 283.48C357.177 283.167 356.99 282.893 356.73 282.7C356.23 282.25 355.73 281.84 355.23 281.36C354.761 280.888 354.418 280.308 354.23 279.67C354.165 279.424 354.165 279.166 354.23 278.92C354.262 278.799 354.325 278.688 354.412 278.599C354.5 278.509 354.61 278.444 354.73 278.41C354.99 278.38 355.253 278.444 355.47 278.59L357.78 279.74C359.004 280.456 360.306 281.03 361.66 281.45C362.705 281.729 363.801 281.76 364.86 281.54C365.54 281.32 369.39 279.18 370.65 278.48C372.82 277.26 384.83 270.03 385.07 269.89L406.47 245.19L411.96 256.96C411.96 256.96 394.6 276.34 390.24 278.8Z"
    fill="#FFA8A7" />
  <path
    d="M400.09 271.32C403.78 267.73 410.52 260.38 410.52 260.38C410.52 260.38 418.67 251.52 413.44 242.77C411.396 242.8 409.358 243.011 407.35 243.4C404.52 244.02 403.13 246.32 398.59 252.16C392.24 260.33 385.39 268.51 385.39 268.51L368.39 279.66C370.207 282.189 371.135 285.248 371.03 288.36C371.03 288.36 389.03 280.53 390.69 279.66C392.35 278.79 396.41 274.91 400.09 271.32Z"
    fill="#37474F" />
  <path
    d="M416.32 242.41C416.796 240.887 417.364 239.395 418.02 237.94C418.21 237.746 418.448 237.604 418.71 237.53L418.77 238.29C421.037 239.384 423.579 239.774 426.07 239.41C430.07 238.75 430.88 237.29 430.88 237.29L430.81 236.29C431.041 236.408 431.248 236.567 431.42 236.76C431.887 237.987 432.284 239.239 432.61 240.51C432.61 240.51 432.38 243.22 427.41 244.18C422.44 245.14 417.36 242.3 417.36 242.3L416.32 242.41Z"
    fill="#37474F" />
  <path
    d="M316.59 109.16C312.59 114.16 303.41 123.76 299.53 128.63C297.474 131.177 296.361 134.357 296.38 137.63C296.38 140.05 297.08 142.08 299.45 141.05C301.16 140.3 302.25 139.41 304.75 136.95C307 134.73 320 118.29 320 118.29C320 118.29 323.8 110.42 324.43 108.07C324.846 106.694 325.163 105.291 325.38 103.87C322.65 103.87 321.66 102.8 316.59 109.16Z"
    fill="#9A4A4D" />
  <path
    d="M263.86 232.57L239.59 260.27C239.441 260.464 239.232 260.603 238.996 260.667C238.76 260.731 238.509 260.716 238.282 260.625C238.056 260.533 237.865 260.369 237.74 260.159C237.615 259.949 237.562 259.703 237.59 259.46L240.01 222.46L263.86 232.57Z"
    fill="#FFA8A7" />
  <path
    d="M237.63 259.46C237.602 259.703 237.655 259.949 237.78 260.159C237.905 260.369 238.096 260.533 238.322 260.625C238.549 260.716 238.8 260.731 239.036 260.667C239.272 260.603 239.481 260.464 239.63 260.27L244.37 254.87C243.235 254.984 242.091 254.786 241.062 254.296C240.032 253.806 239.156 253.043 238.53 252.09L238.19 251.56L237.63 259.46Z"
    fill="#F0F0F0" />
  <path
    d="M299.42 79L298.12 82.15L296.54 85.94L240.05 222.5C241.545 226.376 244.449 229.544 248.18 231.37C253.71 234.37 260.42 234.88 263.84 232.57L319.91 97L322.91 89.73C320.71 94.3 297.27 83.59 299.42 79Z"
    fill="#5545AD" />
  <path
    d="M312.74 114.37C311.97 116.08 310.1 117.32 307.29 117.7C301.52 118.48 293.95 115.39 290.38 110.78C288.77 108.7 288.23 106.65 288.67 104.98L290.72 99.98C290.478 100.757 290.437 101.583 290.6 102.38C290.879 103.7 291.477 104.933 292.34 105.97C295.9 110.57 303.47 113.67 309.25 112.89C310.59 112.732 311.875 112.27 313.01 111.54C313.808 111.017 314.429 110.263 314.79 109.38L312.74 114.37Z"
    fill="#F0F0F0" />
  <path
    d="M314.65 109.72C313.88 111.43 312.02 112.72 309.2 113.05C303.43 113.83 295.86 110.73 292.29 106.12C290.68 104.04 290.14 102 290.58 100.32L292.64 95.3201C292.39 96.0954 292.345 96.9223 292.51 97.7201C292.794 99.0388 293.391 100.27 294.25 101.31C297.81 105.92 305.39 109.02 311.16 108.23C312.501 108.076 313.788 107.614 314.92 106.88C315.718 106.361 316.339 105.611 316.7 104.73L314.65 109.72Z"
    fill="#5545AD" />
  <path
    d="M316.56 105.06C315.79 106.77 313.93 108.06 311.12 108.39C305.34 109.17 297.78 106.08 294.2 101.46C292.6 99.3902 292.05 97.3402 292.5 95.6702L294.56 90.6702C294.322 91.4477 294.277 92.2715 294.43 93.0702C294.714 94.3921 295.31 95.6266 296.17 96.6702C299.73 101.27 307.31 104.37 313.08 103.58C314.42 103.431 315.708 102.973 316.84 102.24C317.639 101.718 318.26 100.964 318.62 100.08L316.56 105.06Z"
    fill="#F0F0F0" />
  <path opacity="0.1"
    d="M319.91 97L322.91 89.73C321.91 91.81 316.58 90.73 311.23 88.55L252.67 233.19L239.59 260.27L263.86 232.57L319.91 97Z"
    fill="black" />
  <path
    d="M335.08 57.6901C334.761 56.4829 334.189 55.3578 333.4 54.3901C329.84 49.8001 322.29 46.7101 316.53 47.4901C313.72 47.8701 311.86 49.1101 311.11 50.8101L311.05 50.9101L299.42 79.0001C299.414 79.0466 299.414 79.0936 299.42 79.1401L299.33 79.3601C298.88 81.0301 299.43 83.0801 301.04 85.1601C304.61 89.7701 312.18 92.8601 317.95 92.0801C320.76 91.7001 322.63 90.4601 323.4 88.7601L325.47 83.7601C325.47 83.8601 325.37 83.9601 325.33 84.0501L334.75 61.3301C335.336 60.2077 335.454 58.8995 335.08 57.6901Z"
    fill="#FFA8A7" />
  <path opacity="0.3"
    d="M333.4 54.3902C336.96 58.9902 335.18 63.3902 329.4 64.1302C323.62 64.8702 316.09 61.8302 312.53 57.2302C308.97 52.6302 310.75 48.2302 316.53 47.4902C322.31 46.7502 329.84 49.8002 333.4 54.3902Z"
    fill="white" />
  <path
    d="M334.89 60.71C334.17 62.46 332.29 63.71 329.42 64.14C326.686 64.4246 323.922 64.0826 321.34 63.14L310.14 91.14C312.627 92.0017 315.273 92.3022 317.89 92.02C320.59 91.66 322.41 90.5 323.23 88.89L335 60.47C334.972 60.5539 334.936 60.6344 334.89 60.71Z"
    fill="#F28F8F" />
  <path d="M361.37 249.4L355.51 251.8L351.67 237.96L360 235.59L361.37 249.4Z" fill="#B16668" />
  <path
    d="M354.91 249.63L354.63 248.63C353.71 248.63 354.84 253.94 352.45 258.77C350.63 262.45 348.01 263.77 348.05 266.53C348.05 268.99 350.88 269.71 355.39 267.8C359.59 266.02 361.06 263.92 361.61 262.12C362.16 260.32 361.61 258.81 362.09 257.47C362.57 256.13 364.09 254.28 364.18 252.88C364.18 252.12 363.29 250.37 362.65 248.88C362.15 247.7 361.49 246.67 361.12 246.88C361.12 247.03 361.22 247.88 361.22 247.88C360.66 248.881 359.784 249.668 358.73 250.12C357.71 250.66 355.27 250.8 354.91 249.63Z"
    fill="#263238" />
  <path
    d="M344.44 136.88C345.44 140.69 350.21 147.95 351.24 152.46C352.27 156.97 352.38 163 352.05 174.15C351.6 189.31 351.27 195.07 351.49 195.92C351.71 196.77 355.26 203.45 356.8 208.98C358.34 214.51 360.73 239.24 360.73 239.24C360.73 239.24 358.07 242.57 352.45 241.38C352.45 241.38 338.39 203.16 337.26 199.75C336.13 196.34 327.85 160.86 327.85 160.86L328.94 140.6L344.44 136.88Z"
    fill="#37474F" />
  <path
    d="M330.41 98.5701L339.21 100.1C340.48 97.7101 343 96.1601 344.74 94.1001C346.508 92.0529 347.79 89.6326 348.49 87.0201C348.818 85.8226 348.95 84.5798 348.88 83.3401C348.869 82.0121 348.55 80.7046 347.95 79.5201C347.676 78.947 347.282 78.4391 346.796 78.0303C346.31 77.6216 345.742 77.3215 345.13 77.1501C345.58 74.5701 343.84 71.9901 341.58 70.6501C339.32 69.3101 336.63 68.9601 334.02 68.6501C331.392 68.5438 328.803 67.9786 326.37 66.9801C325.728 66.6214 325.06 66.3138 324.37 66.0601C324.02 65.9383 323.647 65.8985 323.28 65.9435C322.912 65.9886 322.56 66.1174 322.25 66.3201C321.781 66.7345 321.464 67.2944 321.35 67.9101C320.907 69.5529 320.945 71.2884 321.46 72.9101C321.151 72.6702 320.796 72.497 320.417 72.4012C320.038 72.3053 319.643 72.2891 319.258 72.3534C318.872 72.4178 318.504 72.5613 318.177 72.7749C317.849 72.9886 317.57 73.2677 317.356 73.5948C317.142 73.9218 316.998 74.2897 316.933 74.6752C316.868 75.0607 316.884 75.4554 316.979 75.8346C317.074 76.2137 317.247 76.5689 317.486 76.878C317.726 77.187 318.027 77.4431 318.37 77.6301C317.713 78.2618 317.258 79.0732 317.061 79.9626C316.863 80.852 316.932 81.7799 317.26 82.6301C318.06 85.1001 320.26 86.5701 320.87 89.1101C321.415 91.4469 322.436 93.646 323.87 95.5701C324.443 96.548 325.273 97.3503 326.27 97.8901C327.598 98.3637 329 98.594 330.41 98.5701Z"
    fill="#263238" />
  <path d="M319.7 250.08L313.32 249.13L313.26 232.92L322.11 232.67L319.7 250.08Z" fill="#B16668" />
  <path
    d="M315.77 159.66C316.38 152.66 318.69 137.66 318.69 137.66L335.76 139.54C338.66 144.05 339.31 151.9 338.52 158.68L327.16 198.78C326.6 200.3 328.16 204.66 327.33 209.67C326.07 217.5 321.74 239.29 321.74 239.29C321.74 239.29 315.69 241.36 313.18 238.56C313.18 238.56 311.96 205.02 312.9 195.07C313.93 184.26 315.35 164.45 315.77 159.66Z"
    fill="#37474F" />
  <path
    d="M313.31 247.07V246C312.54 245.88 312.22 248.22 311.19 250.66C310.376 252.403 309.296 254.008 307.99 255.42C305.25 258.48 302.72 259.06 301.67 261.3C300.62 263.54 303.46 265.46 308.3 264.7C310.7 264.32 314.86 262.7 315.92 261.13C316.98 259.56 317.5 257.29 318.36 256.13C319.22 254.97 321.06 254.36 321.53 253.05C321.79 252.32 321.2 250.45 321.04 249.05C320.88 247.65 320.65 246.14 320.23 246.25L320.12 247.02C319.76 247.86 318.46 248.4 316.9 248.66C315.76 248.9 313.3 248.29 313.31 247.07Z"
    fill="#263238" />
  <path
    d="M318.87 125.33C318.76 128.33 318.69 137.63 318.69 137.63C321.96 141.79 339.55 143 344.44 136.88L347.44 121.64C347.44 121.64 349.02 105.4 345.74 104.79C343.565 104.426 341.365 104.235 339.16 104.22L329.07 103.89C325.85 103.89 325.34 103.89 325.34 103.89C322.395 106.79 319.91 110.121 317.97 113.77C316.68 116.34 315.06 120.21 318.87 125.33Z"
    fill="#5545AD" />
  <g opacity="0.6">
    <path
      d="M318.87 125.33C318.76 128.33 318.69 137.63 318.69 137.63C321.96 141.79 339.55 143 344.44 136.88L347.44 121.64C347.44 121.64 349.02 105.4 345.74 104.79C343.565 104.426 341.365 104.235 339.16 104.22L329.07 103.89C325.85 103.89 325.34 103.89 325.34 103.89C322.395 106.79 319.91 110.121 317.97 113.77C316.68 116.34 315.06 120.21 318.87 125.33Z"
      fill="white" />
  </g>
  <path
    d="M322.92 76.3201C321.23 77.3201 319.14 81.5701 319.35 90.4901C319.52 98.0501 321.97 99.9201 323.2 100.49C324.43 101.06 326.8 100.7 329.11 100.32V103.93C329.11 103.93 326.98 111.1 327.27 114.25C333.4 108.9 339.2 104.56 339.2 104.56L339.15 94.7601C339.15 94.7601 340.51 96.0701 342.81 94.0601C344.71 92.4001 345.35 89.6001 343.87 88.0601C343.489 87.7005 343.029 87.4363 342.526 87.2892C342.024 87.1421 341.494 87.1163 340.979 87.2139C340.465 87.3115 339.981 87.5297 339.568 87.8507C339.154 88.1716 338.822 88.5861 338.6 89.0601C335.569 88.9514 332.613 88.0887 330 86.5501C328.1 85.5195 326.47 84.0566 325.24 82.2795C324.01 80.5025 323.215 78.461 322.92 76.3201Z"
    fill="#B16668" />
  <path
    d="M328.16 88.3002C328.159 88.5489 328.25 88.7892 328.417 88.9741C328.583 89.159 328.812 89.2753 329.06 89.3002C329.261 89.3203 329.463 89.2793 329.64 89.1824C329.817 89.0855 329.961 88.9373 330.052 88.7572C330.143 88.5772 330.178 88.3738 330.151 88.1737C330.125 87.9736 330.038 87.7862 329.903 87.6362C329.768 87.4862 329.591 87.3805 329.395 87.3331C329.199 87.2857 328.993 87.2988 328.804 87.3707C328.615 87.4425 328.453 87.5697 328.338 87.7356C328.223 87.9015 328.161 88.0983 328.16 88.3002Z"
    fill="#263238" />
  <path
    d="M329.23 93.8401L326.47 94.7201C326.518 94.9055 326.603 95.0792 326.721 95.2307C326.838 95.3823 326.984 95.5086 327.152 95.602C327.319 95.6954 327.503 95.7541 327.694 95.7743C327.884 95.7946 328.077 95.7762 328.26 95.7201C328.636 95.5963 328.948 95.3299 329.129 94.9783C329.311 94.6268 329.347 94.2181 329.23 93.8401Z"
    fill="#9A4A4D" />
  <path
    d="M320.31 85.6701L322.23 84.3401C322.149 84.2107 322.042 84.099 321.917 84.0119C321.792 83.9248 321.65 83.864 321.5 83.8331C321.351 83.8023 321.197 83.802 321.047 83.8325C320.897 83.8629 320.755 83.9233 320.63 84.0101C320.374 84.1935 320.199 84.4677 320.139 84.7764C320.08 85.0851 320.141 85.4049 320.31 85.6701Z"
    fill="#263238" />
  <path
    d="M320.75 87.91C320.749 88.1588 320.84 88.3991 321.007 88.584C321.173 88.7689 321.402 88.8852 321.65 88.91C321.851 88.9302 322.053 88.8891 322.23 88.7922C322.407 88.6953 322.551 88.5471 322.642 88.3671C322.733 88.1871 322.768 87.9836 322.741 87.7835C322.715 87.5835 322.628 87.3961 322.493 87.2461C322.358 87.0961 322.181 86.9904 321.985 86.943C321.789 86.8956 321.583 86.9087 321.394 86.9805C321.205 87.0524 321.043 87.1796 320.928 87.3455C320.813 87.5114 320.751 87.7082 320.75 87.91Z"
    fill="#263238" />
  <path d="M325.71 87.3601L325.56 93.0801L322.55 92.1501L325.71 87.3601Z" fill="#9A4A4D" />
  <path
    d="M329.11 100.28C331.54 99.96 336.54 98.52 337.32 96.55C337.006 97.5508 336.391 98.4306 335.56 99.07C334.07 100.35 329.11 101.79 329.11 101.79V100.28Z"
    fill="#9A4A4D" />
  <path
    d="M332.41 180.2L328.07 162C325.487 161.078 323.034 159.828 320.77 158.28C322.216 160.106 323.94 161.692 325.88 162.98L332.41 180.2Z"
    fill="#263238" />
  <path
    d="M336.48 90.11C336.735 90.5448 337.08 90.9198 337.492 91.2096C337.905 91.4995 338.375 91.6974 338.87 91.79C338.614 91.3974 338.456 90.9492 338.409 90.4828C338.362 90.0165 338.427 89.5457 338.6 89.11C338.839 88.725 338.97 88.283 338.98 87.83C338.943 87.656 338.868 87.4926 338.759 87.3522C338.649 87.2119 338.51 87.0982 338.35 87.02C337.71 86.67 336.3 86.25 336.11 87.24C335.883 88.21 336.015 89.2292 336.48 90.11Z"
    fill="#263238" />
  <path
    d="M299.32 146.5C298.056 146.477 296.815 146.155 295.7 145.56C295.174 145.178 294.729 144.695 294.39 144.14C293.829 143.157 293.456 142.079 293.29 140.96C293.261 140.499 293.09 140.059 292.8 139.7C292.46 139.37 291.87 139.24 291.8 138.77C291.781 138.636 291.799 138.499 291.852 138.374C291.904 138.249 291.99 138.14 292.1 138.06C292.323 137.909 292.581 137.816 292.85 137.79C293.458 137.701 294.079 137.759 294.66 137.96C295.227 138.146 295.809 138.283 296.4 138.37C297.674 138.671 298.981 138.809 300.29 138.78C302.14 138.64 303.59 138.12 303.29 137.85C302.99 137.58 301.86 137.47 300.37 136.85C298.88 136.23 297.92 134.8 298.37 134.02C298.82 133.24 298.71 133.41 300.27 133.81C301.83 134.21 303.34 134.08 305.49 134.81C307.39 135.46 308.42 136.48 310.28 136.36C316.62 136.03 331.72 132.02 331.72 132.02C334.23 127.45 338.23 118.15 339.87 114.22C341.258 110.73 343.294 107.534 345.87 104.8C349.77 104.99 353.33 108.27 350.87 115.28C347.898 123.519 343.9 131.351 338.97 138.59C337.63 140.48 336.13 141.22 332.83 141.59C322.16 142.76 314.22 143.59 310.08 144.82C305.94 146.05 305.52 146.23 304.3 146.4C302.652 146.664 300.976 146.698 299.32 146.5Z"
    fill="#B16668" />
  <path
    d="M281.89 121.33C284.037 120.395 286.409 120.1 288.72 120.48C290.58 120.78 290.58 126.99 284.6 128.95C280.71 130.22 278.38 129.66 277.12 132.86C277.12 132.86 274.6 132.53 275.17 128.95C275.792 125.265 277.434 121.829 279.91 119.03C281.63 117.03 281.74 115.3 282.58 115.88C283.42 116.46 283.1 118.41 283.1 118.41L281.89 121.33Z"
    fill="#B16668" />
</svg>
@section Scripts {
  <partial name="_ValidationScriptsPartial" />
    <partial name="_NotificationPartial" />
  
}