@Model List<IndexUsuarioViewModel>

<h2>Usuarios</h2>
  


<table class="table table-dark">
  <thead>
    <tr>
      <th hidden>ID</th>
      <th>Nombre</th>
      <th>Rol</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var usuario in Model)
    {
      <tr>
        <td>@usuario.NombreUsuario</td>
          <td>@usuario.Rol</td>
          <td>
            <button type="button" class="btn btn-secondary ">
              <a class="text-white text-decoration-none" asp-controller="Usuario" asp-action="EditarUsuario"
                asp-route-idUsuario="@usuario.Id">Editar</a>
            </button>

            <button type="button" class="btn btn-danger">
            <a class="text-white text-decoration-none" asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id"
              onclick="return confirm('¿Estas seguro que quieres eliminar el usuario @usuario.NombreUsuario? ')">
              Eliminar</a>
            </button>
          </td>

      </tr>
    }
  </tbody>
</table>

  <a asp-controller="Usuario" asp-action="CrearUsuario">Agregar Usuario</a>
